/target/
/project/project/
/project/target/
/.idea/
/src/main/resources/compiledJavascript/
/sw/target/
.env
.bsp/sbt.json
/src/main/resources/project/target
/src/main/resources/target
hs_err*log
replay_pid*log
